.cards {
  margin-top: 30px;
  border-radius: 10px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}

.card__like-button {
  background: transparent url(../images/Group.png) center;
  height: 18px;
  width: 21px;
  border: none;
}

.card__like-button:hover {
  opacity: 60%;
  radius: 2px;
}

.h2 {
  width: 100px;
  height: 29px;
  margin-left: 220px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
