.footer {
  display: flex;
  align-self: flex-start;
  max-width: 318px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.footer__description {
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-left: 19px;
    max-width: 282px;
  }

  .footer__description {
    font-size: 14px;
    line-height: 22px;
  }
}
