.header {
  margin-top: 45px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  gap: 51px;
}

@media screen and (max-width: 320px) {
  .header {
    margin-bottom: 40px;
    width: 100%;
    min-height: 24px;
  }
}
