.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border-color: white;
  border-style: solid;
  cursor: pointer;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: 60%;
  radius: 2px;
}

.profile__add-button {
  background: url(../images/add_button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-color: white;
  border-style: solid;
  color: white;
}

.profile__add-button:hover {
  opacity: 60%;
  radius: 2px;
}

.profile__title {
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    max-height: 286px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }

  .profile__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 282px;
    justify-content: center;
  }

  .profile__title {
    max-width: 282px;
    height: 50px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    gap: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 196px;
  }

  .profile__description {
    max-width: 282px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 282px;
    margin: 0;
    padding: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__add-button {
    display: block;
    margin: 20px 0;
    width: 282px;
    height: 50px;
    cursor: pointer;
    gap: 36px;
  }

  .profile__image {
    margin-bottom: 20px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-left: 14px;
    align-self: center;
  }
}
